canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

#container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

